@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap");

.component {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}
.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.formWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}
.wrapper .active .formWrapper .sign-in {
    transform: scale(0) translate(-300px, 500px);
}
.wrapper .formWrapper.signUp {
    position: absolute;
    top: 0;
    transform: scale(0) translate(200px, -500px);
}
.wrapper .active .formWrapper.sign-Up {
    transform: scale(1) translate(0, 0);
}
.component h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.inputGroup {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}
.inputGroup label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.inputGroup input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label {
    top: -50px;
}
.remember {
    margin: -5px 0 15px 5px;
}
.remember label {
    color: #fff;
    font-size: 14px;
}
.remember label input {
    accent-color: #f41579;
}
.component button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #f4157e;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}
.signUpLink {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.signUpLink p {
    color: #fff;
    text-decoration: none;
}
.signUpLink p a {
    color: #f4157e;
    text-decoration: none;
    font-weight: 500;
}
.signUpLink p a:hover {
    text-decoration: underline;
}
.socialPlatform {
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.socialIcons span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 15px 6px 0;
    transition: 0.3s;
}

.socialIcons span:hover {
    background: #fff;
}
.socialIcons span svg {
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
}
.socialIcons span:hover svg {
    color: rgba(0, 0, 0, 0.3);
}
.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label {
    top: 5px;
}

/* 
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url("Assets/14avg.avif");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.box {
    position: absolute;
    top: 20%;
    left: 35%;
    opacity: 0.85;
    background-color: rgba(23, 13, 13, 0.9);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 100px 5px #000000;
    max-width: 400px;
    width: 100%;
    animation: slide-up 1s ease-out;
    border: 1px solid rgb(255, 255, 255);
}

@keyframes slide-up {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 0.9;
    }
}

h1 {
    text-align: center;
}

.border {
    outline: none;
}
.border:hover {
    border: 2px solid #b60909;
}

.container h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 25px;
}
.inline {
    display: flex;
}
.inline i {
    color: #b60909;
    font-size: 20px;
    margin-bottom: 10px;
}
.icon {
    margin-left: 7px;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fffdfd;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    margin-left: 140px;
    background-color: #b60909;
    color: white;
    padding: 10px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #157423;
}

.error {
    color: red;
    margin-top: 10px;
}
.exisistingUser {
    text-align: center;
}
.exisistingUser label {
    color: whitesmoke;
}
.exisistingUser span:hover {
    color: rgb(180, 180, 180);
    cursor: pointer;
}

.avengers-gradient {
    background: linear-gradient(to right, #2c435b, #1b1919);
    opacity: 0.9;
}

@media screen and (max-width: 449px) {
    .box {
        top: 25%;
        left: 5%;
        height: 430px;
        max-width: 60%;
    }

    .form-group button {
        margin-left: 50%;
        transform: translateX(-50%);
    }
} */
